body{
    background-color: blue;
    color: white;
    justify-content: center;
    text-align: center;
}
header{
    text-align: center;
    justify-content: center;
}

.players{
    display: flex;
    justify-content: center;
  text-align: center;
}

.players h2{

    margin: 2vw;
}
.tool{

    width: 10%;
    height: 20%;
    margin: 3vw;
}
.play{
    display: flex;
     justify-content: center;
  text-align: center;
}

.select{
    width: 7%;
    height: 10%
}



